@import "tool/base.scss";
@import "tool/_size.scss";
@import "tool/_center.scss";
$cs:#ff7266;
$bs:#ffffff;
$ht:'黑体-简';
.p{
	text-align:center;
}
.lianjie{
	line-height:30px;
	height:30px;
	text-align:center;
	border-radius:5px;
    background-color:$cs;
}
.customer{
    width:auto;
    height:1200px;
    padding-top:50px;
    background-color:#eeeeee;
    font-family:$ht;
}
.sidebar{
    float:left;
	width:170px;
	height:500px;
	background-color:$cs;
	font-family: $ht;
	color:$bs;

}
.sidebar p{
    position:relative;
    font-weight:bold;
    font-size:20px;
	left:10px;
	top:20px;
	margin-bottom:40px;
}
.sidebar ul{
    list-style:none;
	position:relative;
	left:40px;
}
.sidebar ul li{
	margin-bottom:10px;
}
.sidebar a{
	color:$bs;
	font-weight:100;
}
.main{
    width:950px;
    height:1100px;
	float:left;
	margin-left:70px;
	background-color:$bs;
	margin-top:50px;
    font-weight:100;
}
.main .title{
    @include size(130px, 25px);
    float:left;
    text-align:center;
    line-height:25px;
    background-color:$cs;
	margin-top:20px;
	margin-left:-10px;
	font-size:20px;
	color:$bs;

}
a{
	color:$bs;
}
table{
    width:900px;
	margin-top:100px;
	margin-left:40px;
}
.watch{
	padding-left:50px;
}
.main .first{
    text-align:left;
    height:30px;
	background-color:#383838;
	color:$bs;
	font-weight:100;
}
.main table.cargo{
    $padding:50px;
	width:400px -$padding;
	padding-left:$padding;
}
.space{
	height:30px;
}
.main table img{
	width:100px;
	height:100px
}
.order{
	background-color:$cs;
	height:30px;
}
.date{
	padding-left:20px;
}
.detail{
	background-color:#eeeeee;
}
.money{
	text-align:center;
}
.main .queren{
    text-align:center;
	width:80px;
	height:30px;
	line-height:30px;
	background-color:$cs;
	border-radius:10px;
    }
.main.jiesuan{
	float:right;
	width:100px;
	margin-top:30px;
	margin-right:30px;
	font-size:20px;
	height:40px;
	line-height:40px;
	border-radius:5px;

}
.total_price{
    color:$cs;
    width:250px;
    float:right;
    text-align:right;
    margin-right:30px;
    margin-top:50px;

}
a.operate{
	color:#000000;
}
.collect_cargo{
    margin-left:80px;
    margin-top:130px;
	@include size(200px, 300px);
	img{
	    @include size(200px);
	}
    .pic_1{
        @extend .lianjie;
        text-align:center;
        width:80px;
         margin-top:-35px;
	}
	.pic_2{
	    @extend .lianjie;
        text-align:center;
        width:80px;
        margin-top:-30px;
        margin-right:0px;
        margin-left:auto;
	}
	p{
	    margin-top:10px;
	    text-align:center;
	    width:200px;
	}
}
.assess{
    width:820px;
	margin-left:80px;
	margin-top:130px;
	th{
	    text-align:left;
	    background-color:$bs;
	    p{
	        background-color:#000000;
	        color:$bs;
	        text-align:center;
	    }
	    p.pingjia{
	        width:40px;
	    }
	    p.detail{
	        width:80px;
	    }
	    p.operate{
	        width:40px;
	    }
	}
	th.pingjia{
	    width:400px;
	}
	th.detail{
	    width:300px;
	}
	.my_assess{
	    background-color:#eeeeee;
	    img{
	        float:left;
	    }
	    p{
	        @extend .p;
	        float:left;
	        height:100px;
	        line-height:100px;
	    }
	    div{
	         @extend .lianjie;
	         width:80px;
	    }
	}
}
.shouhou{
    width:900px;
	.first{
	    height:30px;
	    background-color:$cs;

	}
	.second{
	    height:100px;
	    background-color:#eeeeee;
	    img{
	        float:left;
	        @include size(100px);
	        }
	    p.introduce{
	        margin-left:120px;
	        height:70px;
	        text-align:left;
	        line-height:70px;
	    }
	    p.standard{
	        margin-left:140px;
	        color:#8a8a8a;
	    }
	    .price{
	        text-align:center;
	    }
	    div{
	        @extend .lianjie;
	    }
	}
}
