.container{
  height: 100%;
  padding-top: 150px;
  div{
    width: 50%;
    margin-bottom: 30px;
    margin: auto;
    background-color: #ff7266;
    margin-top: 1px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 900;
    font-family: "黑体-简";
    line-height: 100px;
    text-align: center;
  }
  div.second{
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    line-height: 200px;
    a{
      color: #FFFFFF;
      font-weight: 100;
    }
  }
}
button{
  margin: -30px auto 20px auto;
  color: #fff;
  font-size: 20px;
  border: none;
  background-color: transparent;
  display: block;
  outline: none;
  cursor: pointer;
}
footer{
  position: absolute;
  bottom: 0px;
  right: 1px;
  color: #ff7266;
  font-size: small;
}