{% extends 'base_ymyj.html' %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="unslider"><div class="banner unslider-fade" style="overflow: hidden;">
    <ul class="unslider-wrap">
        <li class="" style="opacity: 0;">
        	<img src="{{ pic1 }}">
			<div id="info-0">东华大学“云梦盐津”公益项目</div>
        </li>
        <li class="unslider-active" style="opacity: 1;">
        	<img src="{{ pic2 }}">
        	<div id="info-0">只是简单的字</div>
        </li>
        <li class="" style="opacity: 0;">
        	<img src="{{ pic3 }}">
        	<div id="info-0">第二个简单的字</div>
        </li>
    </ul>
</div><nav class="unslider-nav"><ol><li data-slide="0" class="">1</li><li data-slide="1" class="unslider-active">2</li><li data-slide="2" class="">3</li></ol></nav></div>

<div class="hot-items">
	<ul>
		<li>热门产品</li>
		<li>热门产品</li>
		<li>热门产品</li>
	</ul>
</div>

<div class="culture-container">
	<div class="culture-title">
		我们&amp;文化
	</div>
	<div class="video-content">
		视频介绍
	</div>


	<div class="detail-content-container">
		<div class="detail-content">
			<dl class="left-content">
				<dt>深山农货攀“云”巅</dt>
				<dd>二是与东华大学合作启动“云梦盐津”项目。东华大学
组建了“云梦盐津”项目团队，目前盐津特色农产品已
经在东华大学慈善爱心屋进行展示，通过线上线下展示
推广，盐津农产品在东华大学教师群体中火爆销售。</dd>
			</dl>
			<div class="img-content">图片</div>
		</div>
		<div class="detail-content c-right">
			<dl class="left-content">
				<dt>深山农货攀“云”巅</dt>
				<dd>二是与东华大学合作启动“云梦盐津”项目。东华大学
组建了“云梦盐津”项目团队，目前盐津特色农产品已
经在东华大学慈善爱心屋进行展示，通过线上线下展示
推广，盐津农产品在东华大学教师群体中火爆销售。</dd>
			</dl>
			<div class="img-content">图片</div>
		</div>
		<div class="detail-content">
			<dl class="left-content">
				<dt>深山农货攀“云”巅</dt>
				<dd>二是与东华大学合作启动“云梦盐津”项目。东华大学
组建了“云梦盐津”项目团队，目前盐津特色农产品已
经在东华大学慈善爱心屋进行展示，通过线上线下展示
推广，盐津农产品在东华大学教师群体中火爆销售。</dd>
			</dl>
			<div class="img-content">图片</div>
		</div>
		<div class="detail-content c-right">
			<dl class="left-content">
				<dt>深山农货攀“云”巅</dt>
				<dd>二是与东华大学合作启动“云梦盐津”项目。东华大学
组建了“云梦盐津”项目团队，目前盐津特色农产品已
经在东华大学慈善爱心屋进行展示，通过线上线下展示
推广，盐津农产品在东华大学教师群体中火爆销售。</dd>
			</dl>
			<div class="img-content">图片</div>
		</div>
	</div>

	<div class="detail-content-square-container">
		<div class="square-items">
			<div class="square-img">相关图片</div>
			<p> （文字介绍）与上海都市菜园发展有限公司联系开展“云品入沪”项目。2015年12月18日，
			由县经科局牵头，盐津特色农产品已正式入驻上海环球港云品展示中心进行孵化，并已经开展两次
			买手品鉴活动，受到大量消费顾客咨询，起到良好的宣传效果。
			</p>
		</div>
		<div class="square-items">
			<div class="square-img">相关图片</div>
			<p> （文字介绍）与上海都市菜园发展有限公司联系开展“云品入沪”项目。2015年12月18日，
			由县经科局牵头，盐津特色农产品已正式入驻上海环球港云品展示中心进行孵化，并已经开展两次
			买手品鉴活动，受到大量消费顾客咨询，起到良好的宣传效果。
			</p>
		</div>
		<div class="square-items">
			<div class="square-img">相关图片</div>
			<p> （文字介绍）与上海都市菜园发展有限公司联系开展“云品入沪”项目。2015年12月18日，
			由县经科局牵头，盐津特色农产品已正式入驻上海环球港云品展示中心进行孵化，并已经开展两次
			买手品鉴活动，受到大量消费顾客咨询，起到良好的宣传效果。
			</p>
		</div>
		<div class="square-items">
			<div class="square-img">相关图片</div>
			<p> （文字介绍）与上海都市菜园发展有限公司联系开展“云品入沪”项目。2015年12月18日，
			由县经科局牵头，盐津特色农产品已正式入驻上海环球港云品展示中心进行孵化，并已经开展两次
			买手品鉴活动，受到大量消费顾客咨询，起到良好的宣传效果。
			</p>
		</div>
	</div>

</div>


<div class="footer-comfirm">
	<div class="comfirm-container">
		<dl>
			<dt>
			正品承诺

			</dt>
			<dd>
				        严格控制供应渠道，全部
商品均从品牌经销商直接采购
供货，品质保障

			</dd>

		</dl>
		<dl>
			<dt>
			关于退换货
			</dt>
			<dd>
				         支持退换货，退货请在
商品收到后7天内进行退换货
申请，并将商品寄回
			</dd>

		</dl>
		<dl>
			<dt>
			关于发货
			</dt>
			<dd>
         我们将尽快为您安排
发货，发货之后一般在2-7
天左右送达。
			</dd>

		</dl>
		<dl>
			<dt>
			关于色差
			</dt>
			<dd>
          所卖的物品均为实物拍摄，
 但难免会因灯光等原因出现略微
色差，宝贝颜色一律以实物为准
			</dd>

		</dl>
	</div>
</div>
{% endblock %}